.dropup-menu {
    height: 500px;
    width: 500px;
    border: green solid 1px;
    position: relative;
}

.dropup-menu a,
#dropup-arrow {
    text-decoration: none;
    color: white;
}

.dropup-item {
    display: none;
}

.dropup-item-show {
    background-color: blueviolet;
    height: 100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropup-balk {
    background-color: blue;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 50px;
}